body {
    font-family:"Lexend";
    background-color: white;
    padding: 20px;
    transition: all 0.3s ease;
    text-align: center;
}

h1 {
    font-family: "Delius Swash Caps";
    font-size: 50px;
    color:#fca8da ;
}

input, button {
    padding: 9px;
    margin: 2px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input{
    font-family: "Lexend";
    background-color: white;
}
button{
    background-color: #b0bde9;
    color: white;
    font-family: "Lexend";

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
}

.tema-alternativo {
    background-color: white;
    font-family: 'Courier New', monospace;
    h1{
        color: #ff1494;
        font-family: "Rubik Gemstones";
    }
}

.tema-alternativo input{
    background-color: #fff;
    color: #9400d4;
    border: 1px solid #666;
    font-family: "Lacquer";
}
.tema-alternativo button {
    background-color: #a0dd16;
    color: #fff;
    border: 1px solid #666;
    font-family: "Lacquer";
}

.tema-alternativo li {
    background-color: #fff;
    color: #9400d4;
    font-family: "Lacquer";
}
